<div class="tile l-circle-shadow animated fadeInRight" ng-repeat="item in askCtrl.ansObj"  style="width: 180px;margin: 10px;display: inline-block;position:relative;">
<a ng-href="{{window.location.pathname}}#/answer/{{item.quesAuthorId}}/{{item.qId}}" style="position:absolute;z-index: 2;left:0;right:0;top:0;bottom:0;"></a>
                        <div class="l-tile-gradient" style="position: relative;border-radius: 4px 4px 0;">
                            <div class="l-card c-font-white l-circle-shadow" style="background-image:url({{item.locationImage}});background-position:center;background-size:cover;position:relative;z-index:-1; border-radius:4px;min-height:145px;">

                            </div>
                            <div class="l-font-bebas c-font-white c-padding-10 c-font-slim" style="text-align: left; z-index: 1; position: absolute; top: 0px; line-height: normal;">{{item.questionTitle}}</div>
                            <div class="l-font-bebas c-font-white c-padding-10 c-font-slim" style="text-align: left; z-index: 1; position: absolute; bottom: 0px; line-height: normal;">{{(item.totalAnswers > 1)? item.totalAnswers+' Places' : item.totalAnswers+' Place'}}</div>

                        </div>
                        <div class="c-bg-white" style="padding-top: 6px; padding-bottom: 6px;display: block; border-radius: 0px 0px 4px 4px;">

                            <div style="margin-left: 10px;text-align: left;">
                                <a href="javascript:void(0);" ng-repeat="each in item.profilePicArray track by $index | limitTo:3" class="l-circle-shadow" style="margin-right: -10px;">
                                    <img ng-src="{{each}}" width="35" height="35" style="border-radius: 100%;border: solid 1px #fff;">
                                </a>

                            </div>

                        </div>
                    </div>