.a-normal
{
	font-weight:normal;
	font-size:50px;
	color:blue;
}

#anand1
{
	color:red;
}
/* careerguide.com custom.css STARTING */
ul .sub-menu
{
padding:0px !important;
}

.sub-menu > li > a
{
	    padding: 8px 25px;
}

.sub-menu > li 
{
	    padding: 0px;
}